@page
@model IndexModel
@{
    ViewData["Title"] = "GAN - Global Address Navigator";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">Welcome to GAN</h1>
            <p class="lead text-center">Global Address Navigator (GAN) is a user-friendly web application designed to handle postal addresses from various countries efficiently.</p>
            <hr>
            <h3>About GAN</h3>
            <p>GAN allows users to input, validate, and search for addresses through a dynamic interface. It supports addresses from the following countries:</p>
            <ul>
                <li>Brazil</li>
                <li>Canada</li>
                <li>Germany</li>
                <li>India</li>
                <li>Japan</li>
                <li>North and South Korea</li>
                <li>Mexico</li>
                <li>Spain</li>
                <li>UK</li>
                <li>USA</li>
            </ul>
            <p>With GAN, users can input their addresses with validation feedback, search for addresses across multiple countries, and get relevant matches from the database.</p>
            <hr>
            <h3>Meet the Developers</h3>
            <p>GAN is developed by a team of Seattle University MSCS students :</p>
            <ul>
                <li>Emily Bazar</li>
                <li>Eduardo Sousa Silva</li>
                <li>Yushu Chen</li>
                <li>Zhou Liu</li>
            </ul>
        </div>
    </div>
</div>